body {
	display: grid;
	align-items: start;

	min-height: 100vh;
	margin: 0;

	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.85);
	background-color: rgba(8, 8, 62, 0.859);
}

button {
	all: unset;
	color: #fff;
	border: 1px solid #fff;
	padding: 0.15em 0.75em;
	background: rgba(0, 0, 0, 0.639);
	cursor: pointer;
	justify-self: center;
}

button:active {
	border-style: inset;
	background-color: rgba(0, 0, 0, 0.369);
}
